<?php
defined('BASEPATH') OR exit('No direct script access allowed');

$config['opensearch_domain'] = 'localhost:port';

$config['opensearch_username'] = '';
$config['opensearch_password'] = '';
$config['opensearch_index'] = 'dart-docs';